.hero-section {
  position: relative;
}

.banner_img {
  width: 100%;

  -webkit-mask-image: linear-gradient(to right, transparent, black 76%);
  mask-image: linear-gradient(to right, transparent, black 7%);
}

.hero-caption {
  position: absolute;
  width: 100%;
  padding-left: 4%;
  bottom: 0;
}

.caption-img {
  width: 90%;
  margin-bottom: 30px;
  max-width: 420px;
}
.hero-caption p {
  max-width: 700px;
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: 500;
}

.hero-btns {
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
}

.hero-btns .btn img {
  width: 25px;
}

.hero-btns .btn {
  border: 0;
  outline: 0;
  padding: 8px 20px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  font-weight: 600;
  background: white;
  border-radius: 4px;
  cursor: pointer;
}

.hero-btns .info-btn {
  color: #fff;
  background-color: #6d6d6eb3;
}

.hero-btns .btn:hover {
  background: #e50914;
  color: #fff;
}

.hero-btns .btn.info-btn:hover {
  background: #6d6d6e66;
}
.more-cards {
  padding-left: 4%;
}

@media (max-width: 1024px) {
  .hero-caption .card-title {
    display: none;
  }
}

@media (max-width: 900px) {
  .hero-caption {
    padding-left: 4%;
  }
  .caption-img {
    width: 40%;
    margin-bottom: 10px;
  }

  .hero-caption p {
    max-width: 500px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .hero-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }

  .hero-btns .btn img {
    width: 16px;
  }

  .hero-btns .btn {
    padding: 6px 14px;
    gap: 6px;
    font-size: 14px;
  }
  .more-cards {
    padding: 4%;
  }
}

@media (max-width: 550px) {
  .caption-img {
    width: 30%;
    margin-bottom: 5px;
  }

  .hero-caption p {
    max-width: 300px;
    font-size: 10px;
  }

  .hero-btns .btn img {
    width: 13px;
  }
}
